#hide-channels {
  display: inline-block;
  font-size: 16px;
}

#topic-container {
  border-bottom: 1px solid #CCC;
  -webkit-box-flex: 0;
  display: -webkit-box;
  background-color: #242323;
  padding: 4px 6px;
}

#status {
  -webkit-box-flex: 1;
  padding: 4px 5px;
}

#status .topic {
  font-style: italic;
}

.topbar-button {
  background: #505053;
  border: 0 transparent;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: .1s linear -webkit-box-shadow;
  margin-right: 4px;
}

.topbar-button-left:after {
  content: "←"
}

.topbar-button-right:after {
  content: "→"
}


.topbar-button:active {
  box-shadow: 0 0 0 1px rgba(0 ,0 ,0 ,.15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
}

.topbar-button:hover {
  background: #afafa3;
}

.topbar-button:focus {
  outline: none;
}
